body 
{
      background-color: black;
      color: white;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 20px;
      min-width: 500px;
      
}

nav ul
{
    min-width: 500px;
}
nav li
{
    display:inline;
    padding: 10px;
    
   
    
}

nav li a 
{
    text-decoration: none;
}

header 
{
    padding: 10px;
}

/*Game Audio page*/
#nest 
{
    padding: 20px;
}

@media screen and (max-width: 550px)
{
    body
    {
        font-size: 10px;
    }
}